*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #00070f;
}

body::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #aa1010;
    border-radius: 5px;
}
:root{
    --blanco: #ffffff;
    --negro: #00070f;
    --gris: #434c5a;
}
.Inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../SRC/kerbals.jpg);

}
.Inicio-cont{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.KSP{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}
.KSP img{
    display: flex;
    width: 25em;
    height: 12em;

}

.registro-ingreso-{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registro-ingreso-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.registro-ingreso-btn a{ 
    padding: 5px 15px 5px 15px;
    font-size: 1.4em;
    font-family: Arial;
    text-decoration: none;
    text-align: center;
    border-radius: 100px;
    justify-content: center;
    color: var(--blanco);
    margin-left: 10px;
    transition: .5;
    cursor: pointer;
}

.btn-r{
    border: 3px solid var(--blanco);
}

.btn-r:hover{
    font-size: 1.6em;
    border-color:var(--blanco)
}